#Servidor
PORT=1000

#Base de datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_HOST=tu_host
DB_PORT=1000
DB_SERVICE=tu_servicio

# Autenticación
SECRET_JWT_KEY=tu_clave_secreta_para_jwt
SALT_ROUND=10